body{
    width: 100%;
    height:100vh;
    background-color: red;
    overflow: hidden;
    margin: 0;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.parent-box{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sub-parent{
    width: 40%;
    height: 100%;
    background-image: url('../img/william-iven-TMOeGZw9NY4-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 10%;
}