body{
    width: 100%;
    height:100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.parent-box{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sub-parent{
    width: 40%;
    height: 100%;
    background-image: url('../img/william-iven-TMOeGZw9NY4-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.small-box{
    width: 60%;
    height: 70%;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    position: relative;
    top: 15%;
    color: white;
    border-radius: .5em;
    opacity: .5;
}
.logo{
    color: black;
    margin: 2em;
    padding: .5em;
    background-color: white;
    width: 5em;
    font-weight: bold;
}
.small-box h2{
    margin-left: 1.3em;
    font-weight: 400;
}
.small-box h4{
    margin-left: 2em;
    font-weight: 500;
}