body{
    width: 100%;
    height:100vh;
    background-color: red;
    overflow: hidden;
    margin: 0;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.parent-box{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sub-parent{
    width: 40%;
    height: 100%;
    background-color: #2c3e50;
    margin: 0;
}